<!-- -->
<section>
    <div class="container">

        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <h3>Our corporate services</h3>
                <p>Ever since the begining our company has always pushed the boundaries of their work to improve upon the future. We take a lot of pride in showing the way foward for everyone. This is why we, at Rocket Elevator, always strive for improvment and it shows in our works.</p>
                <p>Our corporate works are always the top of the line; you'll find nothing better anywhere else! This is a bold statement and we stand by it, our expertise, our experience and our creative ideas speak of themselves, just look a some of our works.</p>
                <h3>Want to try it out? </h3>
                <a href="/quote" style="color: #fff!important;" class="btn btn-primary btn-lg"><strong>Get a quote &nbsp; <i class="bi bi-chevron-right"></i></strong></a>
            </div>

            <div class="col-md-6">
                <!-- OWL SLIDER -->
                <div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoHeight": true, "navigation": true, "pagination": true, "transitionStyle":"backSlide", "progressBar":"true"}'>
                    <div>
                        <%= image_tag 'commercial/amazon.png'%>
                    </div>
                    <div>
                        <%= image_tag 'commercial/codeboxx.png'%>
                    </div>
                    <div>
                        <%= image_tag 'commercial/empire_state_building.png'%>
                    </div>
                </div>
                <!-- /OWL SLIDER -->
            </div>
        </article>
        <!-- /BORN TO BE A WINNER -->

    </div>
</section>
<!-- / -->