<h1>Editing intervention</h1>

<%= render "form", intervention: @intervention %>

<br>

<div>
  <%= link_to "Show this intervention", @intervention %> |
  <%= link_to "Back to interventions", interventions_path %>
</div>
